html, button, input, select, textarea {
  color: #222222;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-weight: normal;
}

body {
  font-size: 1.2em;
  line-height: 1.6;
}

-moz-selection {
  background: #de4b4f;
  text-shadow: none;
}

selection {
  background: #de4b4f;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #262c62;
  color: #ffe313;
  padding: 0.2em 0;
}

@font-face {
  font-family: hitchcock;
  src: url("../fonts/hitchcock.otf") format("opentype");
  weight: normal;
}

html {
  background: #262c62;
}

body {
  min-width: 1000px;
  max-width: 100%;
  color: #262c62;
  font: normal 1.6em Peralta, hitchcock, helvetica, serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:visit {
  color: inheret;
}

header {
  font-weight: normal;
  font-size: 1.6em;
  font-family: hitchcock;
  height: 101px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 3000;
  border-top: 10px solid #ffe313;
  background: url("../img/date.svg") center right no-repeat;
}
header nav {
  width: 450px;
  height: 200px;
  position: relative;
  float: right;
  top: 0;
  margin: 0;
}
header nav .date {
  width: 450px;
  font-size: 24px;
  text-align: left;
  letter-spacing: 4px;
  margin: 46px 0 0 40px;
  color: #ffe313;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}
header nav .date span {
  color: white;
}
header #logo-big {
  width: 350px;
  position: absolute;
  padding: 0 0 0 24px;
}
header #logo-big img {
  float: left;
  width: 150px;
}
header #logo-big h1 {
  font-size: 24px;
  float: left;
  margin: 10px 0 0 20px;
  line-height: 26px;
  color: white;
  letter-spacing: 4px;
}
header #logo-big h1 a:hover {
  text-decoration: none;
}
header .logo-small {
  width: 75px;
  height: 86px;
  background: url("../img/logo-sml.svg") no-repeat;
  right: 420px;
  top: 10px;
  position: absolute;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

.scrollblock {
  position: relative;
  margin: 0;
  width: 100%;
  float: left;
}

.center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.welcome {
  font-weight: normal;
  font-size: 1.6em;
  font-family: hitchcock;
  height: 992px;
  width: 100%;
  padding: 0;
  background: url("../img/main-bg1.svg") no-repeat center top;
}
.welcome .fifa {
  z-index: 50;
  position: absolute;
  top: 115px;
  left: 150px;
}
.welcome .teams {
  z-index: 40;
  position: absolute;
  left: 500px;
  top: 90px;
}
.welcome .teams img {
  width: 450px;
  height: 350px;
}
.welcome h2 {
  z-index: 30;
  position: absolute;
  font-size: 38px;
  top: 420px;
  left: 160px;
  line-height: 50px;
  width: 600px;
}
.welcome h2 #line-break {
  left: 40px;
}
.welcome h3 {
  z-index: 30;
  position: absolute;
  font-size: 180px;
  top: 300px;
  left: 160px;
  width: 760px;
  letter-spacing: 0;
}
.welcome h4 {
  z-index: 20;
  position: absolute;
  font-size: 83px;
  top: 685px;
  left: 320px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  line-height: 46px;
  width: 680px;
}
.welcome h4 span {
  color: #ffe313;
  margin-left: 80px;
}
.welcome h5 {
  size: 48px;
  color: #ffe313;
  margin: 0;
  position: absolute;
  top: 640px;
  left: 160px;
}
.welcome .arrow {
  position: absolute;
  width: 45px;
  height: 433px;
  top: 774px;
  left: 892px;
  background: url("../img/dotted-arrow.svg") no-repeat center bottom;
}

.muchachos {
  height: 4250px;
  padding-top: 50px;
  position: relative;
}
.muchachos h5 {
  z-index: 10;
  background: #ffe313;
  padding: 20px 50px;
  float: right;
  font-size: 43px;
  margin: 0 50px 200px 0;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
}
.muchachos img {
  z-index: 20;
}
.muchachos .arrow {
  position: absolute;
  width: 43px;
  height: 433px;
  top: 100px;
  left: 375px;
  background: url("../img/dotted-arrow.svg") no-repeat center bottom;
}
.muchachos .jugador {
  float: left;
  width: 1000px;
  height: 460px;
  position: relative;
  margin: 0 0 500px;
}
.muchachos .jugador p {
  z-index: 10;
  width: auto;
  position: absolute;
  text-align: center;
  font-size: 36px;
}
.muchachos .jugador p span {
  color: white;
  font-size: 52px;
}
.muchachos .jugador .arrow {
  z-index: 2;
  position: absolute;
  width: 56px;
  height: 530px;
  top: 240px;
  left: 630px;
  background: url("../img/dotted-arrow.svg") no-repeat center bottom;
}
.muchachos .portrait {
  position: absolute;
}
.muchachos #player1 {
  width: 935px;
  height: 334px;
  background: url("../img/main-bg2.svg") center no-repeat;
}
.muchachos #player1 .portrait {
  left: 50px;
}
.muchachos #player1 p {
  top: 0;
  left: 275px;
  font-size: 2.2em;
  line-height: 1.1em;
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
.muchachos #player1 .rotate {
  color: #6dcff6;
  top: 195px;
  left: 430px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}
.muchachos #player2 {
  width: 935px;
  height: 334px;
  z-index: 10;
  background: url("../img/main-bg3.svg") center no-repeat;
}
.muchachos #player2 .portrait {
  top: -80px;
  left: 600px;
}
.muchachos #player2 p {
  font-size: 2.5em;
  line-height: 1.1em;
  top: 0;
  left: 100px;
}
.muchachos #player2 p span {
  font-size: 1.5em;
}
.muchachos #player3 {
  width: 935px;
  height: 334px;
  background: url("../img/main-bg4.svg") center no-repeat;
}
.muchachos #player3 .portrait {
  top: -136px;
  left: 20px;
}
.muchachos #player3 p {
  font-size: 2.5em;
  line-height: 1.1em;
  top: -105px;
  left: 550px;
}
.muchachos #player3 p span {
  font-size: 1em;
}
.muchachos #player4 {
  width: 935px;
  height: 334px;
  background: url("../img/main-bg5.svg") center no-repeat;
}
.muchachos #player4 .portrait {
  top: -80px;
  left: -228px;
}
.muchachos #player4 p {
  font-size: 2.5em;
  line-height: 0.9em;
  text-align: left;
  top: 10px;
  left: 77px;
}
.muchachos #player4 p span {
  font-size: 1.3em;
}
.muchachos #player5 {
  z-index: 10;
  height: 460px;
  width: 1000px;
}
.muchachos #player5 .portrait {
  top: 0;
  left: 90px;
}

.final {
  height: 350px;
  margin: 0 auto;
}
.final h3 {
  text-align: center;
  width: 100%;
  font-size: 63px;
  color: white;
  margin: 0;
}
.final .button {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 267px;
  height: 250px;
}
.final .button:hover {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

footer {
  background: url("../img/main-bg6.svg") center right repeat-x;
  width: 100%;
  height: 82px;
}
footer p {
  text-align: center;
  color: #262c62;
}
